[duckhunt]
serverlist = server1,server2
server1_channels = #Channel1,#Channel2,#ChannelX
server2_channels = #ChannelA,#ChannelB,#ChannelX

[server1]
channels = #Channel1,#Channel2,#ChannelX

[server2]
channels = #ChannelA,#ChannelB,#ChannelX
