[duckhunt]
serverlist = server1,server2
server1_channels = #Channel1,#Channel2,#ChannelX
server2_channels = #ChannelA,#ChannelB,#ChannelX

[server1]
channels = #Channel1,#Channel2,#ChannelX

[server2]
channels = #ChannelA,#ChannelB,#ChannelX

[server1_channel1]
flood_check = on
maxducks = 6
spawntime = 35
flytime = 120
duckexp = 15
duckfear = 50
duckgold = 40
friendrate = 71
relays = 0
rules = 5,15,on,off,on,on,6^1
bedazzled = 0
soggy = 0
sabotage = 0
expl_ammo = 0
gun_grease = 0
trigger_lock = 0
sunglasses = 0
silencer = 0
lucky_charm = 0
accident_insurance = 0
rain_coat = 0
duck_bomb = 0
bread_lock = 0
popcorn = 0
confiscated = 0
disarmed = 0
bombed = 0
duck_jam = 0
jammed = 0
camping_permit = 0
camp_count = 0
illegal_camping = 0
fatigue = 0
fatigue = 0
tday = 0
tweek = 0
tmonth = 0
topstat = 0^0,0^0,0^0,0^0

[server1_channel1_ducks]
cache = 0
